@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); /*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        transform: translateY(0px)
    }
    100% {
        opacity: 1;
        transform: translateY(10px)
    }
}

body {
    padding: 10px;
    margin: 10px;
    user-select: none;
    height: 100%;
    background: #222222 no-repeat;
    font-family: "Roboto Mono";
    color: white;

}

a {
    text-decoration: none;
    color: lightcoral
}

a:hover {
    font-weight: bold;
}

button {
    margin: 2px;
    font-family: 'Roboto Mono';
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid darkcyan;
    color: lightgray;
    background-color: #222222;
    transition: background 200ms, color 200ms;

}


button:hover {
    background-color: #444444;
    color: white;
}

ol {
    list-style-type: none;
}

textarea {
    width: 100%;
    border: 2px solid darkcyan;
    background-color: #222222;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

select, option {
    margin: 2px;
    font-family: 'Roboto Mono';
    font-size: 14;
    border-radius: 5px;
    border: 2px solid darkcyan;
    color: lightgray;
    background-color: #222222;
    transition: background 200ms, color 200ms;

}


select:hover, option:hover {
    background-color: #444444;
    color: white;
}

input {
    margin: 2px;
    font-family: 'Roboto Mono';
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid darkcyan;
    color: lightgray;
    background-color: #444444;
    outline: none;
    transition: background 200ms, color 200ms;

}

#imup {
    display: none;
}

#l1 {
    color: lightgray;
    display: inline-block;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid darkcyan;
    transition: background 200ms, color 200ms;
    line-height: 20px;
    font-size: 15px;
}

#preview {
    max-width: 400px;
    border-radius: 5px;
    border: 2px solid darkcyan;
    display: none;
}

#images {
    display: flex;
    width: 100%;

}

#images > * {
    margin-right: 50px
}

progress[value]::-webkit-progress-bar {
    height: 22px;
    background-color: #222222;
    border: 2px solid darkcyan;
    border-radius: 5px;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

img {
    max-width: inherit;
}

input:hover {
    background-color: #444444;
    color: white;
}

/* Slider */
.slidecontainer {
    width: 400px; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 8px; /* Specified height */
    background: #222222; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: darkcyan; /* Green background */
    cursor: pointer;
    border-radius: 5; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: darkcyan; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

/*
 * Hide visually and from screen readers, but maintain layout
 */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

